$segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$darkred: darkred;
$border-top-bottom: rgba(139, 0, 0, 0.547);
$nav-back: rgba(0, 0, 0, 0.75);
$a-hover: rgba(177, 62, 62, 0.547);
$a-active: rgba(115, 2, 2, 0.436);
$clear: rgba(0, 0, 0, 0.5);
$white: white;
$black: black;
$lightgreen: lightgreen;
$darkgreen: darkgreen;
$info-back-border: rgba(192, 57, 43, 0.2);
$footer-back: rgba(10, 7, 7, 0.95);
$screen-back: rgba(139, 0, 0, 0.492);
$booking-info-back: rgba(128, 128, 128, 0.418);
$confirm-hover: rgba(139, 0, 0, 0.51);
$grey: grey;
$form-back: rgb(36, 29, 29);
